.blogContainer {}

.image {
    object-fit: cover;
}

.content {
}


.itemTitle {
    margin-bottom: 10px;
}

.itemDescription {
    font-size: 18px;
    color: #999;
}

.link {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

